<h1>New Rocket Alert</h1>
<%= form_with model: @alert, local: true do |form| %>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :alert_time %><br>
    <%= form.datetime_select :alert_time %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
